/* Fonts */
@font-face {
    font-family: 'Gloock';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/gloock/v1/Iurb6YFw84WUY4NJiBakJLRBjA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Mynerve';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/mynerve/v1/P5sCzZKPdNjb4jt79CNkiL2t2dk.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Satisfy';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/satisfy/v17/rP2Hp2yn6lkG50LoCZOIHTWEBlw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


html {
    font-family: Helvetica;
    font-size: 16px;
}

header {
    text-align: center;
    border-bottom: solid gray 2px;
}

img {
    max-width: 300px;
    max-width: 200px;
}

h1, h3{
    font-family: 'Gloock';    
}

h1 {
    font-size: 3rem;
    padding: 60px;
    margin: 0px;
}


h2 {
    font-family: 'Mynerve';
    font-size: 2rem;
    margin: 0px;
}

h3 {
    text-decoration: underline;
    font-size: 1.5rem;
}

h4 {
    font-family: 'Satisfy';
    font-size: 12px;
    margin: 0px;
}




.picks {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    text-align: center;
}

.section {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.show {
    width: 250px;
}

.container {
    padding: 50px 0px;
    margin: 0px auto;
    width: 70%;
    border-bottom: 1px gray dotted;
}

h2.gameResult {
    margin-top: 80px;
    width: 270px;
}

.main h2 {
    margin-bottom: 50px;
}

button {
    font-family: 'Satisfy';
    font-size: 2rem;
    padding: 12px 28px;
    border-radius: 12px;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
